/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2
}

/* Your text should be in a nice narrow column */
.content-column {
	max-width: 650px;
	margin: 40px auto;
}

/* But your visualization should be full-width and full-height */
.vis-holder {
  width: 100%;
  height: 100%;
  display: flex;
}

/* The line chart will take the left half of the screen */
.linechart-holder {
  flex: 0 0 50%;
}

/* The scatterplot will take the right half of the screen */
.scatterplot-holder {
  flex: 1;  
}

/* Default style for marks and channels used */
.point {
  fill: white;
  stroke: #69b3a2;
  stroke-width: 3;
}

.linePath {
  fill: none;
  stroke: black;
  stroke-width: 1.5;
}

.axisLabel {
  fill: #475d7c;
}

/* Style for selected marks */
.selected {
 fill: pink;
 stroke: red;
 opacity: 5;
}